/*
 * ...
 */

body {
  background-color: white;
  color           : black;
}

a {
  text-decoration: none;
  color          : #FF37E8;
}

/*
 * Header
 */

header {
  width: 400px;
  text-align: center;

  margin-left : auto;
  margin-right: auto;
  
  margin-top   : 10px;
  margin-bottom: 30px;
}

header h1 {
  font-size  : 250%;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  
  margin-bottom: 30px;
}

header p {
  margin-bottom: 10px;
}

/*
 * Main
 */

.project-grid {
  width: 1260px; /* (project width * columns) + column margin */
  display: flex;

  margin-left : auto;
  margin-right: auto;
}

.project-grid .column {
  flex: 1;
}

.project-grid .column:nth-of-type(even) {
  margin-left : 30px;
  margin-right: 30px;
}

.project {
  width : 400px;
  height: 300px;

  position: relative;

  /*border: 2px solid black;*/
  margin-bottom: 30px;
}

.project img {
  width : 100%;
  height: 100%;

  position: absolute;
}

/* Overlay */

.project .overfade {
  width : 100%;
  height:  70%;
  
  background-color: black;

  opacity   : 0;
  transition: opacity 300ms ease-out;
}

.project .overtext {
  width : 100%;
  height:  30%;

  padding-top : 1.00em;
  padding-left: 1.17em;

  font-size:    0.90em;

  color           : white;
  background-color: black;

  opacity   : 0;
  transition: opacity 300ms ease-out; 
}

.project .overtext h3 {
  font-size:     1.17em;
  margin-bottom: 0.20em;

  font-weight:   bold;
  font-style : italic;
}

/*.project .overtext a {

}*/

/* Trigger transitions on hover and focus */

.project:hover .overfade, .project:focus .overfade { opacity: 0.5; }
.project:hover .overtext, .project:focus .overtext { opacity: 0.9; }

/*
 * Footer
 */

/*footer {
  
}*/
