/*
 * ...
 */

body {
  background-color: white;

  color           : black;
  font-family     : Cambria, 'serif';
}

a {
  text-decoration: none;
  color          : #FF37E8;
}

#wrapper {
  width: 90%;
  margin: auto;
}

/*
 * Header
 */

header {
  margin-top   : 10px;
  margin-bottom: 30px;
}

header h1 {
  font-size  : 400%;
  font-family: Lato, 'sans serif';
  
  margin-bottom: 15px;
}

header #about {
  padding-left: 20px;
  font-size: 120%;
}

header h2 {
  margin-bottom: 10px;
}

/*
 * Main
 */

.project-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 1000px) {
  .project-grid {
    flex-direction: row;
  }
}

.column {
  flex-basis: 30%;
}

.project {
  width: 100%;
  height: auto;

  position: relative;
  padding: 74.917% 0 0 0;

  margin-left:  auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.project > * {
  max-width:  100%;
  max-height: 100%;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

/* Overlay */

.project .overfade {
  max-height:  70%;  
  background-color: black;

  opacity   : 0;
  transition: opacity 300ms ease-out;
}

.project .overtext {
  height: fit-content;
  z-index: 1;

  min-height:  30%;
  top:         70%;

  padding: 3%;
  font-size:    0.90em;

  color           : white;
  background-color: black;

  opacity   : 0;
  transition: opacity 300ms ease-out; 
}

.project .overtext h3 {
  font-size:     1.17em;
  margin-bottom: 0.20em;

  font-family: Lato;
  font-weight: bold;
  font-style : italic;
}

/*.project .overtext a {

}*/

/* Trigger transitions on hover and focus */

.project:hover .overfade, .project:focus .overfade { opacity: 0.5; }
.project:hover .overtext, .project:focus .overtext { opacity: 0.8; }

/*
 * Footer
 */

/*footer {
  
}*/
